.custom-navbar {
    background: #f8f9fa;
    padding: 10px;
  }
  
  .menu-icon {
    font-size: 25px;
    color: #333;
  }
  
  .nav-link {
    font-size: 18px;
    margin-left: 10px;
  }
  span{
    color: rgb(175, 5, 5);
    font-family: Arial,;
    font-weight: bold;
  }
.product-card {
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  padding: 16px;
  text-align: center;
  width: 300px;
  margin: 20px auto;
  transition: transform 0.3s, box-shadow 0.3s;
}

.product-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.product-card img {
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
  margin: auto;
}

.stars {
  display: flex;
  justify-content: center;
  gap: 4px;
  margin-top: 8px;
  color: #fbbf24;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 8px;
}

.price {
  margin-top: 6px;
  color: red;
}

.discounted {
  font-size: 18px;
  font-weight: bold;
  color: #d40808;
}

.original {
  text-decoration: line-through;
  font-size: 14px;
  color: gray;
  margin-left: 8px;
}

.discount {
  background: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 4px;
  margin-left: 8px;
}

.product-card button {
  margin-top: 12px;
  background: #f97316;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

.product-card button:hover {
  background: black;
}
